In [1]:
import pandas as pd
houses = pd.read_csv("DataAnalysis/data/kc_house_data.csv")
titanic = pd.read_csv("DataAnalysis/data/titanic.csv")
btc = pd.read_csv("DataAnalysis/data/coin_Bitcoin.csv")
netflix=pd.read_csv("DataAnalysis/data/netflix_titles.csv",sep='|',index_col=0)
countries = pd.read_csv("DataAnalysis/data/world-happiness-report-2021.csv")

In [2]:
countries.set_index('Country name',inplace=True)

In [3]:
btc

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

## dropping columns

In [4]:
btc.drop(labels='Symbol', axis=1)

,SNo,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [5]:
btc.drop(labels=['SNo','Name','Symbol'], axis='columns')

,Date,High,Low,Open,Close,Volume,Marketcap
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...
2986,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [6]:
btc.drop(columns=['SNo','Name','Symbol'],inplace=True)

In [7]:
btc

,Date,High,Low,Open,Close,Volume,Marketcap
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...
2986,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

## dropping rows

In [8]:
countries

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [9]:
countries.drop(labels='Denmark',axis=0)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [10]:
countries.drop(labels='Finland')

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [11]:
countries.drop(labels=['Denmark','Finland','Iceland'])

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [12]:
btc.sort_index(ascending=False,inplace=True)

In [13]:
btc.drop(2990)

,Date,High,Low,Open,Close,Volume,Marketcap
2989,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2988,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2987,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2986,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2985,2021-07-01 23:59:59,35035.982712,32883.781226,35035.982712,33572.117653,3.783896e+10,6.293393e+11
...,...,...,...,...,...,...,...
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09

In [14]:
countries.drop(countries.index[0:3])

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [15]:
countries.drop(countries.index[10:])

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.3,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.7,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.6,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.4,0.929,0.134,0.242,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612
Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.3,0.908,0.042,0.481,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784

## adding static columns

In [16]:
titanic['species'] = 'human'

In [17]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,species
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO",human
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON",human
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",human
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON",human
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?,human
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?,human
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?,human
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?,human
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?,human

### insert

In [18]:
houses.insert(0,'country','King Country')

In [19]:
houses

,country,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,King Country,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,King Country,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,King Country,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,King Country,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,King Country,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,King Country,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,King Country,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,King Country,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,King Country,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,King Country,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

## creating new dynamic columns

In [20]:
houses.insert(1,'price/bedrooms',houses.price/(houses.bedrooms+1))

In [21]:
houses.sort_values('price/bedrooms').head(50)

,country,price/bedrooms,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,King Country,18823.529412,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
5639,King Country,20000.000000,7224000980,20140610T000000,100000.0,4,1.00,1120,2685,1.0,...,5,860,260,1939,0,98055,47.4904,-122.203,1120,4838
8274,King Country,20500.000000,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
13756,King Country,21625.000000,1788900230,20140722T000000,86500.0,3,1.00,840,9480,1.0,...,6,840,0,1960,0,98023,47.3277,-122.341,840,9420
15810,King Country,22166.666667,7129304540,20141220T000000,133000.0,5,2.00,1430,5600,1.5,...,6,1430,0,1947,0,98118,47.5192,-122.266,1860,5980
5866,King Country,22250.000000,9320900420,20141014T000000,89000.0,3,1.00,900,4750,1.0,...,6,900,0,1969,0,98023,47.3026,-122.363,900,3404
18939,King Country,22500.000000,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,...,6,980,0,1969,0,98092,47.3170,-122.182,980,3154
5723,King Country,24125.000000,1788800630,20141029T000000,96500.0,3,1.00,840,12091,1.0,...,6,840,0,1959,0,98023,47.3281,-122.343,840,9324
3540,King Country,25000.000000,1823049202,20140610T000000,175000.0,6,1.50,1930,8400,1.0,...,7,1030,900,1971,0,98146,47.4869,-122.340,1780,9520
12338,King Country,25000.000000,5132000140,20140618T000000,175000.0,6,1.00,1370,5080,1.5,...,6,1120,250,1931,0,98106,47.5238,-122.350,1020,5080
15293,King Country,26000.000000,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
14525,King Country,26250.000000,4311700120,20150317T000000,105000.0,3,1.00,880,18109,1.0,...,6,880,0,1970,0,98042,47.3634,-122.101,940,11193
14283,King Country,26250.000000,1788800610,20140902T000000,105000.0,3,1.00,840,8400,1.0,...,6,840,0,1959,0,98023,47.3277,-122.343,840,9450
5577,King Country,26425.000000,8857600780,20141003T000000,158550.0,5,1.50,1710,8100,1.5,...,7,1710,0,1961,0,98032,47.3839,-122.288,1480,8025
12377,King Country,26750.000000,7899800045,20140828T000000,107000.0,3,1.50,910,5120,1.0,...,6,910,0,1973,0,98106,47.5238,-122.356,1410,5132
13519,King Country,27000.000000,723049158,20150313T000000,135000.0,4,1.00,1460,18599,1.5,...,5,1460,0,1940,0,98146,47.5006,-122.351,1320,8100
16198,King Country,27000.000000,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
17197,King Country,27500.000000,5111400086,20140512T000000,110000.0,3,1.00,1250,53143,1.0,...,6,1250,0,1945,0,98038,47.4235,-122.051,1820,217800
2141,King Country,27500.000000,1623049041,20140508T000000,82500.0,2,1.00,520,22334,1.0,...,5,520,0,1951,0,98168,47.4799,-122.296,1572,10570
18468,King Country,27666.666667,7999600180,20140529T000000,83000.0,2,1.00,900,8580,1.0,...,5,900,0,1918,0,98168,47.4727,-122.270,2060,6533
16367,King Country,27800.000000,3512100050,20150224T000000,139000.0,4,1.50,1410,10648,1.0,...,7,1410,0,1966,0,98030,47.3736,-122.188,1410,10522
5320,King Country,27855.714286,1443500305,20141013T000000,194990.0,6,2.50,1560,7144,1.0,...,6,1060,500,1913,0,98118,47.5335,-122.272,1300,6232
3767,King Country,28000.000000,1523049188,20150430T000000,84000.0,2,1.00,700,20130,1.0,...,6,700,0,1949,0,98168,47.4752,-122.271,1490,18630
16714,King Country,28333.333333,1322049150,20150305T000000,85000.0,2,1.00,910,9753,1.0,...,5,910,0,1947,0,98032,47.3897,-122.236,1160,7405
10253,King Country,28333.333333,2422049104,20140915T000000,85000.0,2,1.00,830,9000,1.0,...,6,830,0,1939,0,98032,47.3813,-122.243,1160,7680
14224,King Country,28500.000000,4330600360,20140617T000000,142500.0,4,0.75,1440,13300,1.0,...,6,1440,0,1948,0,98166,47.4761,-122.337,1460,11100
17602,King Country,28750.000000,795000620,20140924T000000,115000.0,3,1.00,1080,6250,1.0,...,5,1080,0,1950,0,98168,47.5045,-122.330,1070,6250
14421,King Country,28750.000000,104500730,20150224T000000,115000.0,3,1.75,1080,7942,1.0,...,7,1080,0,1981,0,98023,47.3141,-122.355,1380,8244
2810,King Country,29166.666667,4131500140,20150212T000000,175000.0,5,1.75,1680,8400,1.0,...,7,1680,0,1979,0,98003,47.3035,-122.307,1800,8550
3200,King Country,29666.666667,3800008,20150224T000000,178000.0,5,1.50,1990,18200,1.0,...,7,1990,0,1960,0,98178,47.4938,-122.262,1860,8658
18262,King Country,29780.000000,2891000610,20141211T000000,148900.0,4,1.75,1700,6000,1.0,...,7,1700,0,1967,0,98002,47.3252,-122.208,1280,6000
5527,King Country,29875.000000,3821200050,20140604T000000,119500.0,3,1.00,1170,11000,1.0,...,6,1170,0,1980,0,98019,47.7346,-121.983,1590,10894
15963,King Country,30000.000000,8151601190,20141203T000000,180000.0,5,1.00,1460,11726,1.5,...,6,1290,170,1936,0,98146,47.5039,-122.361,1460,10450
17580,King Country,30000.000000,1423049019,20140523T000000,90000.0,2,1.00,580,7500,1.0,...,5,580,0,1943,0,98178,47.4852,-122.251,1700,11250
3870,King Country,30000.000000,7893203565,20141027T000000,120000.0,3,1.00,1260,7500,1.0,...,6,1260,0,1954,0,98198,47.4191,-122.330,1260,7500
13228,King Country,30000.000000,2976800749,20141031T000000,150000.0,4,2.00,1460,7254,1.0,...,6,1460,0,1959,0,98178,47.5056,-122.254,1460,7236
7847,King Country,30000.000000,2621600015,20150121T000000,120000.0,3,1.00,1150,8924,1.0,...,6,1150,0,1943,0,98030,47.3865,-122.217,1492,8924
12551,King Country,30000.000000,1049010620,20140513T000000,90000.0,2,1.00,790,2640,1.0,...,7,790,0,1973,0,98034,47.7351,-122.178,1310,2064
5725,King Country,30110.000000,8864000250,20140827T000000,150550.0,4,1.00,1470,6061,1.5,...,7,1470,0,1945,0,98168,47.4819,-122.289,1230,6175
15365,King Country,30187.500000,7972000010,20140520T000000,120750.0,3,1.75,1140,9628,1.0,...,7,1140,0,1969,0,98023,47.2933,-122.372,1510,9633
14993,King Country,30500.000000,4222310010,20141226T000000,152500.0,4,1.00,1730,7350,1.5,...,6,1730,0,1970,0,98003,47.3467,-122.307,1440,7752
7540,King Country,30625.000000,4006000571,20150312T000000,183750.0,5,2.75,1650,5453,1.0,...,7,1650,0,1970,0,98118,47.5293,-122.285,1670,5885
10770,King Country,30666.666667,795000765,20140616T000000,92000.0,2,1.00,760,5500,1.5,...,5,760,0,1947,0,98168,47.5045,-122.329,1040,5515
2941,King Country,30825.000000,1950900245,20141226T000000,123300.0,3,1.00,1150,8050,1.5,...,7,1150,0,1956,0,98032,47.3740,-122.296,1360,8050
11954,King Country,30833.333333,5153200486,20140715T000000,185000.0,5,1.75,1990,27810,1.0,...,7,1990,0,1955,0,98023,47.3325,-122.350,2240,20000
10408,King Country,30833.333333,623049185,20140702T000000,185000.0,5,1.00,1590,6700,1.5,...,6,1090,500,1942,0,98146,47.5075,-122.350,1370,8040
8087,King Country,30840.000000,7973202225,20150106T000000,154200.0,4,1.00,1310,8640,1.0,...,6,910,400,1948,0,98146,47.5104,-122.342,1310,8640
6110,King Country,30990.000000,3802000020,20140709T000000,154950.0,4,1.00,1600,10183,1.0,...,6,1600,0,1966,0,98002,47.2770,-122.211,1410,10416
17603,King Country,31000.000000,795000620,20141215T000000,124000.0,3,1.00,1080,6250,1.0,...,5,1080,0,1950,0,98168,47.5045,-122.330,1070,6250
17233,King Country,31185.000000,6600410170,20140528T000000,124740.0,3,1.00,1340,15600,1.0,...,6,1340,0,1978,0,98042,47.3224,-122.143,1320,9800

In [22]:
btc.set_index('Date')
btc['change']=abs( btc.Close-btc.Open)

In [23]:
btc.sort_values('change',ascending=False)

,Date,High,Low,Open,Close,Volume,Marketcap,change
2935,2021-05-12 23:59:59,57939.362415,49150.533875,56714.533167,49150.533875,7.521540e+10,9.195278e+11,7563.999292
2842,2021-02-08 23:59:59,46203.931437,38076.322807,38886.827290,46196.463719,1.014672e+11,8.603427e+11,7309.636429
2942,2021-05-19 23:59:59,43546.116485,30681.496912,42944.975447,37002.440466,1.263581e+11,6.924526e+11,5942.534981
2857,2021-02-23 23:59:59,54204.929756,45290.590268,54204.929756,48824.426869,1.061025e+11,9.099259e+11,5380.502887
2919,2021-04-26 23:59:59,54288.002155,48852.796843,49077.792363,54021.754787,5.828404e+10,1.009780e+12,4943.962424
...,...,...,...,...,...,...,...,...
757,2015-05-26 23:59:59,238.242004,235.692001,237.104004,237.115997,1.642500e+07,3.368067e+09,0.011993
47,2013-06-15 23:59:59,103.699997,98.000000,100.000000,99.988098,0.000000e+00,1.129246e+09,0.011902
933,2015-11-18 23:59:59,336.531006,330.640015,334.592987,334.589996,4.378380e+07,4.970560e+09,0.002991
19,2013-05-18 23:59:59,125.250000,122.300003,123.500000,123.498001,0.000000e+00,1.379575e+09,0.001999
100,2013-08-07 23:59:59,106.750000,106.750000,106.750000,106.750000,0.000000e+00,1.229098e+09,0.000000

### renaming columns

In [25]:
countries.head(2)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868

In [29]:
mapper={'Regional indicator':'regional_indicator','Ladder score':'ladder_score'}
countries.rename(columns=mapper,inplace=True)

In [30]:
countries

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

#### renaming index label

In [31]:
mapper={'Finland':'finland','Denmark':'denmark'}
countries.rename(index=mapper)

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

### update()

In [32]:
titanic['sex'].replace('female','f')

0          f
1       male
2          f
3       male
4          f
        ...
1304       f
1305       f
1306    male
1307    male
1308    male
Name: sex, Length: 1309, dtype: object

In [35]:
titanic['sex'].replace(['f','m'],['F','M'],inplace=True)

In [36]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,species
0,1,1,"Allen, Miss. Elisabeth Walton",F,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO",human
1,1,1,"Allison, Master. Hudson Trevor",M,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON",human
2,1,0,"Allison, Miss. Helen Loraine",F,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",human
3,1,0,"Allison, Mr. Hudson Joshua Creighton",M,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON",human
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",F,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",F,14.5,1,0,2665,14.4542,?,C,?,328,?,human
1305,3,0,"Zabour, Miss. Thamine",F,?,1,0,2665,14.4542,?,C,?,?,?,human
1306,3,0,"Zakarian, Mr. Mapriededer",M,26.5,0,0,2656,7.225,?,C,?,304,?,human
1307,3,0,"Zakarian, Mr. Ortin",M,27,0,0,2670,7.225,?,C,?,?,?,human
1308,3,0,"Zimmerman, Mr. Leo",M,29,0,0,315082,7.875,?,S,?,?,?,human

#### replacing ? with None

In [41]:
titanic['age'].replace(['?'],[None],inplace=True)

In [ ]:
titanic.age.value_counts(dropna=False)

None      263
24         47
22         43
21         41
30         40
         ...
66          1
0.6667      1
76          1
67          1
26.5        1
Name: age, Length: 99, dtype: int64

### updating value using loc[]

In [49]:
countries.loc['Brazil']

regional_indicator                            Latin America and Caribbean
ladder_score                                                         6.33
Standard error of ladder score                                      0.043
upperwhisker                                                        6.415
lowerwhisker                                                        6.245
Logged GDP per capita                                               9.577
Social support                                                      0.882
Healthy life expectancy                                            66.601
Freedom to make life choices                                        0.804
Generosity                                                         -0.071
Perceptions of corruption                                           0.756
Ladder score in Dystopia                                             2.43
Explained by: Log GDP per capita                                    1.028
Explained by: Social support                                        0.944
Explained by: Healthy life expectancy                               0.571
Explained by: Freedom to make life choices                          0.514
Explained by: Generosity                                            0.142
Explained by: Perceptions of corruption                             0.117
Dystopia + residual                                                 3.015
Name: Brazil, dtype: object

In [48]:
countries.loc['Brazil':"Iran"]

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Brazil,Latin America and Caribbean,6.330,0.043,6.415,6.245,9.577,0.882,66.601,0.804,-0.071,0.756,2.43,1.028,0.944,0.571,0.514,0.142,0.117,3.015
Mexico,Latin America and Caribbean,6.317,0.053,6.420,6.213,9.859,0.831,68.597,0.862,-0.147,0.799,2.43,1.126,0.830,0.634,0.585,0.092,0.089,2.961
Jamaica,Latin America and Caribbean,6.309,0.156,6.615,6.004,9.186,0.877,67.500,0.890,-0.137,0.884,2.43,0.891,0.932,0.599,0.618,0.099,0.035,3.135
Lithuania,Central and Eastern Europe,6.255,0.045,6.344,6.167,10.499,0.935,67.906,0.773,-0.203,0.826,2.43,1.350,1.065,0.612,0.476,0.056,0.073,2.624
Cyprus,Western Europe,6.223,0.049,6.319,6.128,10.576,0.802,73.898,0.763,-0.015,0.844,2.43,1.377,0.765,0.801,0.464,0.178,0.061,2.578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cambodia,Southeast Asia,4.830,0.067,4.963,4.698,8.360,0.765,62.000,0.959,0.034,0.843,2.43,0.603,0.680,0.426,0.702,0.210,0.061,2.148
Mozambique,Sub-Saharan Africa,4.794,0.103,4.997,4.592,7.158,0.744,54.706,0.882,0.061,0.684,2.43,0.183,0.634,0.196,0.608,0.228,0.163,2.783
Nigeria,Sub-Saharan Africa,4.759,0.052,4.861,4.658,8.533,0.740,50.102,0.737,0.037,0.878,2.43,0.663,0.625,0.051,0.433,0.212,0.039,2.736
Mali,Sub-Saharan Africa,4.723,0.082,4.884,4.563,7.744,0.724,51.969,0.697,-0.036,0.827,2.43,0.387,0.590,0.110,0.384,0.164,0.072,3.016
Iran,Middle East and North Africa,4.721,0.055,4.828,4.614,9.584,0.710,66.300,0.608,0.218,0.714,2.43,1.030,0.557,0.561,0.275,0.330,0.144,1.823

In [52]:
countries.loc['Iran',['ladder_score']]

ladder_score    4.721
Name: Iran, dtype: object

In [54]:
countries.loc['Iran',['ladder_score','Generosity','Healthy life expectancy']]

ladder_score               4.721
Generosity                 0.218
Healthy life expectancy     66.3
Name: Iran, dtype: object

In [56]:
countries.loc[['Iran','Iraq','Pakistan','India',"Turkey"],['ladder_score','Generosity','Healthy life expectancy']]

              ladder_score  Generosity  Healthy life expectancy
Country name
Iran                 4.721       0.218                   66.300
Iraq                 4.854      -0.053                   60.583
Pakistan             4.934       0.098                   58.709
India                3.819       0.089                   60.633
Turkey               4.948      -0.139                   67.199

In [60]:
countries.loc[['Denmark','Sweden','Norway'],['regional_indicator']]='Scandinavia'

In [62]:
countries.loc[['Denmark','Sweden','Norway'],['regional_indicator']]

             regional_indicator
Country name
Denmark             Scandinavia
Sweden              Scandinavia
Norway              Scandinavia

In [64]:
countries.loc['Finland']='LOL'

In [66]:
countries.loc[['Finland'],['upperwhisker','lowerwhisker']]='Meaow'
countries

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,LOL,LOL,LOL,Meaow,Meaow,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL
Denmark,Scandinavia,7.62,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.03,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.5,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.67,7.438,10.878,0.983,73.0,0.955,0.16,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.17,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.41,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.12,3.748,3.276,7.926,0.787,48.7,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.8
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.34,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.4,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.03,7.943,0.75,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895

In [67]:
### updating multiple values using loc

In [68]:
countries.loc[['Finland','Denmark','Iceland','Sweden','Norway']]

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,LOL,LOL,LOL,Meaow,Meaow,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL
Denmark,Scandinavia,7.62,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.03,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Iceland,Western Europe,7.554,0.059,7.67,7.438,10.878,0.983,73.0,0.955,0.16,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.17,2.967
Sweden,Scandinavia,7.363,0.036,7.433,7.293,10.867,0.934,72.7,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Norway,Scandinavia,7.392,0.035,7.462,7.323,11.053,0.954,73.3,0.96,0.093,0.27,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.58

In [70]:
countries.loc[['Finland','Denmark','Iceland','Sweden','Norway'],['regional_indicator','climate']]='Dogs'

In [72]:
countries.loc[['Finland','Denmark','Iceland','Sweden','Norway'],['regional_indicator','climate']]

             regional_indicator climate
Country name
Finland                    Dogs    Dogs
Denmark                    Dogs    Dogs
Iceland                    Dogs    Dogs
Sweden                     Dogs    Dogs
Norway                     Dogs    Dogs

In [73]:
countries.loc[['Finland','Denmark','Iceland','Sweden','Norway'],['regional_indicator','climate']]=['Scandinavia','Cold']

In [74]:
countries.loc[['Finland','Denmark','Iceland','Sweden','Norway'],['regional_indicator','climate']]

             regional_indicator climate
Country name
Finland             Scandinavia    Cold
Denmark             Scandinavia    Cold
Iceland             Scandinavia    Cold
Sweden              Scandinavia    Cold
Norway              Scandinavia    Cold

In [75]:
countries

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,climate
Country name,,,,,,,,,,,,,,,,,,,,
Finland,Scandinavia,LOL,LOL,Meaow,Meaow,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,LOL,Cold
Denmark,Scandinavia,7.62,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.03,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,Cold
Switzerland,Western Europe,7.571,0.036,7.643,7.5,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839,NaN
Iceland,Scandinavia,7.554,0.059,7.67,7.438,10.878,0.983,73.0,0.955,0.16,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.17,2.967,Cold
Netherlands,Western Europe,7.464,0.027,7.518,7.41,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.12,3.748,3.276,7.926,0.787,48.7,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.8,NaN
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.34,0.539,0.027,0.088,0.648,NaN
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.4,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095,NaN
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.03,7.943,0.75,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205,NaN
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.37,0.0,0.126,0.0,0.122,0.01,1.895,NaN

### making update with loc[] and boolean masks

In [81]:
many_bedrooms = houses['bedrooms'] >= 10
many_bedrooms

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: bedrooms, Length: 21613, dtype: bool

In [84]:
# houses[many_bedrooms]
houses.loc[many_bedrooms]

,country,price/bedrooms,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8757,King Country,43333.333333,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
13314,King Country,104363.636364,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
15161,King Country,59090.909091,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
15870,King Country,18823.529412,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
19254,King Country,60000.000000,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745

In [85]:
houses.loc[many_bedrooms,['bedrooms','bathrooms']]
# houses[many_bedrooms,['bedrooms','bathrooms']]    it will throw error

       bedrooms  bathrooms
8757         11       3.00
13314        10       5.25
15161        10       2.00
15870        33       1.75
19254        10       3.00

In [90]:
houses.loc[many_bedrooms,['bedrooms']]='to many!'

In [91]:
houses.loc[many_bedrooms,['bedrooms']]

       bedrooms
8757   to many!
13314  to many!
15161  to many!
15870  to many!
19254  to many!

In [93]:
high_quality = houses['grade'] > 12
great_view = houses['view'] == 4
houses[high_quality & great_view]

,country,price/bedrooms,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9254,King Country,983571.428571,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
14556,King Country,481333.333333,2303900035,20140611T000000,2888000.0,5,6.25,8670,64033,2.0,...,13,6120,2550,1965,2003,98177,47.7295,-122.372,4140,81021
19017,King Country,950000.000000,2303900100,20140911T000000,3800000.0,3,4.25,5510,35000,2.0,...,13,4910,600,1997,0,98177,47.7296,-122.370,3430,45302

In [95]:
houses['luxury_level']='normal'
houses

,country,price/bedrooms,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,luxury_level
0,King Country,55475.000000,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,normal
1,King Country,134500.000000,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,normal
2,King Country,60000.000000,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,normal
3,King Country,120800.000000,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,normal
4,King Country,127500.000000,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,King Country,90000.000000,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,normal
21609,King Country,80000.000000,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,normal
21610,King Country,134033.666667,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,normal
21611,King Country,100000.000000,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,normal
21612,King Country,108333.333333,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,normal

In [98]:
houses.loc[high_quality & great_view,['luxury_level']]='ultra luxury'
houses[high_quality & great_view]

,country,price/bedrooms,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,luxury_level
9254,King Country,983571.428571,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,...,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,ultra luxury
14556,King Country,481333.333333,2303900035,20140611T000000,2888000.0,5,6.25,8670,64033,2.0,...,6120,2550,1965,2003,98177,47.7295,-122.372,4140,81021,ultra luxury
19017,King Country,950000.000000,2303900100,20140911T000000,3800000.0,3,4.25,5510,35000,2.0,...,4910,600,1997,0,98177,47.7296,-122.370,3430,45302,ultra luxury

In [99]:
houses.luxury_level.value_counts()

normal          21610
ultra luxury        3
Name: luxury_level, dtype: int64